@font-face {
    font-family: 'abelregular';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/abel-regular-webfont.woff2') format('woff2'),
         url('fonts/abel-regular-webfont.woff') format('woff'),
         url('fonts/abel-regular-webfont.ttf') format('truetype'),
         url('fonts/abel-regular-webfont.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'abelregular', sans-serif;
}

#lisere_vertical{
    float: left;
    height: 100vh;
    width: 20%;
    background-color: #111f35;
}

header{
    height: 20vh;
}

section{
    height: 80vh;
}

.skills{
    height: 33%;
}

.experiences{
    height: 33%;
}

.formations{
    height: 33%;
}

h2{
    text-align: center;
    text-decoration: underline;
}


